.App {
  text-align: center;
  float: center;
}

.ant-menu-item-active { 
	border-bottom: 2px solid transparent !important; 
	color: #db282e !important; 
}

.ant-menu-item-a-hover {
	color: #db282e !important;
}

.tvl-center {
	padding-left:92px
}
.price-right {
	text-align:right;
	float: right;
	padding-right: 10px;
}