body {
  margin: 0;
  font-family: "Sanchez" !important;
}

.App .total-value-locked {
  background-color: #d8121b;
  color: white;
}
.App .total-value-locked a {
  color: white;
}

.App .select-farms .select-title {
  margin-top: 1em;
}

header {
  height: auto !important;
  margin-bottom: 1em !important;
  font-size: large;
  background-color: white !important;
}

.App .warning {
  font-weight: bold;
  line-height: 1.5em;
}

main .special-warning {

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.legacy-farm {
  text-decoration: line-through;
  color: #aaa;
}

.ant-layout {
  background: none !important;
}

.arbis-red {
  color: #d8121b;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #d8121b !important;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover 
{
  border-bottom: 2px solid #d8121b !important;
}

.farm {
  max-width: 400px;
  margin: auto;
  text-align: justify;
}
.farm h1 {
  display: inline-block;
  background: #2A221C;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin-top: 1em;
}
.farm .tvl {
  margin: 1em 0;
}
.farm .action-box {
  margin: 2em auto;
  border-radius: 4px;
  max-width: 400px;
  padding: 1em;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 15%);
}
.farm .action-box h3 {
  font-weight: bold;
}
.farm .action-box .ant-btn {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.wave span{
  position: relative;
  display: inline-block;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i))
}
@keyframes animate{
  0%{
    transform: translateY(0px)
  }
  20%{
    transform: translateY(-16px)
  }
  40%, 100%{
    transform: translateY(0px)
  }
}

.circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 2em;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.circle span {
  position: absolute;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  left: 50%;
  top: 50%;
  margin-left: -1em;
  margin-top: -1em;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.circle span:nth-child(1) {
  animation-name: spinZ1;
}
@keyframes spinZ1 {
  from {
      transform:rotate(0deg) translate(1.5em) rotateZ(360deg);
  }
  to {
      transform:rotate(0deg) translate(1.5em) rotateZ(0deg);
  }
}

.circle span:nth-child(2) {
  animation-name: spinZ2;
}
@keyframes spinZ2 {
  from {
      transform:rotate(90deg) translate(1.5em) rotateZ(270deg);
  }
  to {
      transform:rotate(90deg) translate(1.5em) rotateZ(-90deg);
  }
}

.circle span:nth-child(3) {
  animation-name: spinZ3;
}
@keyframes spinZ3 {
  from {
    transform: rotate(180deg) translate(1.5em) rotateZ(180deg);
  }
  to {
    transform:rotate(180deg) translate(1.5em) rotateZ(-180deg);
  }
}

.circle span:nth-child(4) {
  animation-name: spinZ4;
}
@keyframes spinZ4 {
  from {
    transform: rotate(270deg) translate(1.5em) rotateZ(90deg);
  }
  to {
    transform: rotate(270deg) translate(1.5em) rotateZ(-270deg);
  }
}
